<p-toast></p-toast>
<div class="content-section introduction">
    <div>
        <h3>Unidade Básica de Saúde</h3>
        <p>Manter o cadastro de Unidade Básica de Saúde</p>
    </div>
</div>

<form id="form" name="form" #form="ngForm">
    <div class="content-section implementation " style="min-height: 550px;">

        <div class="card">

            <div class="p-formgroup-inline">
                <div class="p-field p-fluid p-col-12 p-md-4 ">
                    <label for="nome">Nome</label>

                    <input [(ngModel)]="dto.nome" name="nome" type="nome" pInputText maxlength="100">
                </div>

                <div class="p-field p-col-12 p-md-4" style="padding-top: 22px;">
                    <div class="p-fluid p-formgrid p-grid ">
                        <div class="p-field p-col ">
                            <button (click)="pesquisar()" pButton pRipple type="button" label="Consultar"
                                class="p-button-rounded"></button>
                        </div>
                        <div class="p-field p-col">
                            <button (click)="limpar()" pButton pRipple type="button" label="Limpar"
                                class="p-button-rounded p-button-secondary"></button>
                        </div>
                        <div class="p-field p-col ">
                            <button (click)="openNovo()" pButton pRipple type="button" label="Novo"
                                class="p-button-rounded p-button-success"></button>
                        </div>
                    </div>

                </div>
            </div>

            <p-table [value]="lista" *ngIf="exibirGrid" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                currentPageReportTemplate=" " [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll"
                [rowsPerPageOptions]="[5,10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.nome}}</td>
                        <td>{{item.endereco}}</td>
                        <td>

                            <button pButton pRipple icon="pi pi-pencil"
                                class="p-button-rounded p-button-secondary p-mr-2" (click)="openEditar(item.id)"
                                pTooltip="Alterar Agendamento" tooltipPosition="left"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-secondary"
                                (click)="confirmExcluir(item.id,$event)" pTooltip="Excluir Agendamento"
                                tooltipPosition="left"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="columns && columns.length">
                            Nenhuma UBS cadastrada
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <p-confirmPopup></p-confirmPopup>


    </div>
</form>